<% if logged_in? %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<main id='root'>
    <link rel="stylesheet" type="text/css" href="https://assets.uiowa.edu/css/whitney.css" />

    <h1> after link </h1>
</main>