@media (min-width: 486px) {
    
}

.page-container {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    font-family: 'Whitney A', 'Whitney B', 'Helvetica Neue', 'Arial', sans-serif;

}

.login-form-container {
    width: 100%;
    margin-right: 59px;
    margin-top: 10px;
}

.login-form-box {

}

.login-form {
    display: flex;
    flex-direction: column;

    margin-top: 20px;
    /* font-weight: 600px;
    font-size: 12px;
    text-transform: capitalize;
    color: #8E9297; */
}

.label {
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    color: #8E9297;

    /* margin: 0 auto; */
    margin-top: 15px;
    margin-bottom: 7px;
}

.login-input {
    padding: 10px;
    border: 1px solid #1f1f1f;
    border-radius: 5px;
    background-color: #2d2f33;
    
    margin-top: 5px;
    margin-bottom: 5px;

}

.login-submit {
    color: white;
    background-color: #7489d6;

    font-size: 15px;
    text-transform: capitalize;

    padding: 12px;
    border: 1px solid #36393F;
    border-radius: 5px;
    margin-bottom: 8px;
}

.wandbanner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 630px;
    padding: 17px;
    
    background-color: #36393F;
    font-size: 17px;
    color: white;
    margin-bottom: 30px;
    border-radius: 5px;
    
    
    position: absolute;
    top: 21%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.wand {
    font-size: 15px;

}

.x {

}

.fyp {
    font-size: 13px;
    color: #7489d6;
    margin-bottom: 20px;
}

.h1 {
    /* position: absolute; */
    text-align: center;
    font-size: 23px;
    font-weight: 500;
    line-height: 30px;
    color: white;
    margin-bottom: 8px;
}

.h2 {
    text-align: center;
    font-size: 15px;
    line-height: 20px;
    color: #B9BBBE;

}

.naa {
    font-size: 14px;
    color: #72767d;

    margin-top: 4px;
}

.register { 
    font-size: 14px;
    color: #7489d6;
}

.qr-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    /* width: 250px; */
}

.login-qr-container {
    display: flex;
    flex-direction: row;
    
    margin: 0 auto;
    width: 720px;
    height: 340px;
    background-color: #36393F;
    padding: 32px;
    border-radius: 5px;
    
    
    position: absolute;
    top: 53%;
    left: 50%;
    transform: translate(-50%, -50%);
}

strong {
    font-weight: 500;
}

.qrcode {
  /* background-image: url(../images/frame.png); */
  /* text-align: center; */
    width: 100%;
    height: 100%;
}

.qrcode-container {
    width: 180px;
    height: 180px;
    margin: 0 auto;
    margin-bottom: 40px;
}

/* .loginbg {
    position: relative;
    width: 100%;
    height: 100%;
} */

/* .loginbg {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    background-image: url('loginbg.jpg');
    background-size: cover;
    border: 2px solid #e9385a;
} */

html { 
  background: url('loginbg.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}